{% extends "base.html" %}

{% block title %}
Projects
{% endblock title %}

{% block page_content %}
<h1 style="text-align: center;">
    Projects
</h1>
<div class="card-group ">
    {% for project in projects %}
    <div class="card border-5">
        <img class="card-img-top" src="{{ project.image.url }}" style="object-fit: cover;  height: 20vh;">
        <div class="card-title" style="text-align: center;">
            <a href="{% url 'project_detail' project.pk %}" class="btn btn-default">
                {{ project.titolo }}
            </a>
        </div>
        <div class="card-body">
            <!--<h5 class="card-title" style="text-align: center;">{{ project.titolo }}</h5>-->
            
            <p class="card-text" style="text-align: center;">{{ project.descrizione }}</p>
        </div>
        <!--<div class="card-footer" style="text-align: center;">
            <a href="{% url 'project_detail' project.pk %}" class="btn btn-default">
                Dettagli
            </a>
        </div>-->
    </div>
    {% endfor %}
</div>

{% endblock page_content %}